html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before,*after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
    margin: 0 auto;
    max-width: 1440px;
}

nav {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #ededed;
}

.navlinks {
    list-style-type: none;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navlink > a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.navlink > a:hover {
    text-decoration: underline;
}

h1 {
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
    margin: 0 auto;
    grid-column:1/13;
    background-color: black;
    height: 400px;
}

.text1 {
    grid-column:1/7;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 80px;
    padding-left: 150px;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

.image1 {
    grid-column:7/13;
}

.img {
    width: 100%;
    height: auto;
}

.img1 {
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 100px;
}


/********************* MEDIA QUERY - 720 ****************/
@media only screen and (min-width:720px) {

}